<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css ">
</head>

<body dir="rtl">
    <div class="form-group">
        <h1 class="text-center">کارهای <small>روزمره</small></h1>
        <form action="/admin/add-todo" role="form" class="row w-50 justify-content-center mx-auto" method="POST">
            <div class="input-group">
                <input type="text" name="todo" class="form-control w-50" placeholder="کار امروز" />
                <div class="input-group-prepend">
                    <button type="submit" class="btn btn-primary fa fa-plus" />
                </div>
            </div>
        </form>
        <div class="mx-auto w-50 mb-3 alert alert-primary row">
            <p class="d-inline col">کارهای انجام شده : <span class="badge text-bg-info">10<!-- CompletedTodos --></span>
            </p>
            <p class="d-inline col">کارهای باقی مانده امروز : <span
                    class="badge text-bg-warning">50<!-- RemainingTodos --></span></p>
        </div>

        <% if(todos.length> 0) { %>
            <ul class="row w-50 justify-content-center mx-auto" id="todo">
                <% for(let todo of todos) { %>
                    <li>
                        <div class="alert alert-secondary d-flex justify-content-between"">
                            <%if(todo.compeleted){%>
                                <div >
                                
                                    <del><%= todo.text %></del>
                                </div>
                               
           
                        <%} else {%>


                            <div >
                                
                                <%= todo.text %>
                            </div>
                           
                              <div>
                                <a href=" admin/delete/<%=todo.id%>" class="close fa fa-trash" style="color: red"></a>
                            <a href="admin/competed/<%= todo.id%>" class="close fa fa-check-square mx-2"
                                style="color: green"></a>
                        </div>
                        <%}%>

    </div>
    </li>
    <% } %>
        </ul>
        <% } else { %>
            <div class=" alert alert-warning w-50 mx-auto" role="alert">
                <h4 class="alert-heading">هیچ کاری برای امروز نیست</h4>
                <p>می تونی کارهای امروزت رو بالا بنویسی تا برات ثبت کنم</p>
                <hr>
                <p class="mb-0">اگر کم و کاستی داشت به دل نگیر <span class="fa fa-heart" style="color: red" /></p>
            </div>
            <% } %>
                </div>
</body>

</html>